a {
    text-decoration: none; 
    color: black
}


  .menuvertical {
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 11px;
  }
  .menuvertical:hover {
    background-color: #E5DCF1;
    color: #fff;
  }

  .col-12.col-sm-9.col-xl-10 {
    padding-left: 0;
    padding-right: 0;
    border-radius: 20px;
  }

  .table__body {
    width: 98%;
    max-height: calc(89% - 1.6rem);
    background-color: #D4C4F1;
    margin: 0 auto;
    border-radius: .6rem;
    border: 3px solid;
    overflow: auto;
    overflow: overlay;
  }

  table {
    width: 100%;
  }

  td img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    cursor: pointer;
  }

  td img:hover {
    transform: scale(1.07);

  }

  table,
  th,
  td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
  }

  thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #D4C4F1;
  }

  tbody tr:nth-child(even) {
    background-color: #D4C4F1;
  }

  tbody tr:nth-child(odd) {
    background-color: #F2ECFF;
  }

  .status {
    padding: .4rem 0;
    width: auto;
    max-width: 12rem;
    border-radius: 17px;
    text-align: center;
    border: 2px solid;
  }

  .status.delivered {
    background-color: #63E189;
    color: #000000;
  }

  .status.cancelled {
    background-color: #FF2525;
    color: #000000;
  }
