<section class="mx-4">
    <!--TITRE AVEC LE PRENOM-->
    <div class="mt-5"></div>
    <h2 class="fw-bolder mx-3">BIENVENUE ABI</h2>
    <p class="mx-3 fw-medium" style="color: #656273;">AVEC SAZ DRIVE, ENTRAÎNEZ VOUS DANS LES MEILLEURS CONDITIONS,
        PROGRESSEZ LE
        PLUS RAPIDEMENT POSSIBLE <br>EN VISUALISANT VOS STATISTIQUES ! VOUS ÊTES PROCHES DU PERMIS ! </p>
    <div class="container-fluid">
        <div class="row">

            <!--CARTE PHOTO DE PROFIL-->
            <div class="col-md-3">
                <div class="card rounded-4 border-4 border-dark" style="height: 436px; box-shadow: -3px 3px 0px black;">
                    <img class="card-img-top mt-3 " src="image/pdphomme.png" style="height: 70px; width: 70px;">
                    <div class="card-body">
                        <p class="card-title">Mon profil</p>

                        <!--TOUTES LES COORDONNÉES DE LA PERSONNE-->
                        <p class="card-title text-decoration-underline fw-medium">VIGNESWARAN ABI</p>
                        <div style="display: flex; align-items: center;">
                            <img src="icone/phone.png" class="mt-1" style="height: 18px; width: 20px;">
                            <p class="card-text text-decoration-underline mt-2 mx-4">09 45 75 21 90</p>
                        </div>

                        <div style="display: flex; align-items: center;" class="mt-3">
                            <img src="icone/cake.png" class="mt-1" style="height: 18px; width: 20px;">
                            <p class="card-text text-decoration-underline mx-4">09/03/2005</p>
                        </div>
                        <div style="display: flex; align-items: center;" class="mt-3">
                            <img src="icone/lieux.png" class="mt-2" style="height: 20px; width: 20px;">
                            <p class="card-text mt-2  text-decoration-underline mx-4">Chelles<span>, France</span></p>
                        </div>
                        <div style="display: flex; align-items: center;" class="mt-2">
                            <p class="card-text fw-semibold mt-3">NEPH </p>
                            <p class="card-text text-decoration-underline mx-2">1534577778.6667</p>
                        </div>
                        <div style="display: flex; align-items: center;">
                            <img src="icone/email.png" class="mt-2" style="height: 20px; width: 20px;">
                            <p class="card-text mt-2 text-decoration-underline mx-4">vigneswaranabi&#64;gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--COLONNE MES RESULTATS D'ADMISSIONS + ON S'ENTRAINE ? -->
            <div class="col-md-4">
                <div class="row">
                    <!--COLONNE MES RESULTATS D'ADMISSIONS-->
                    <div class="col-md-6">
                        <div class="card text-dark rounded-4 border-4 border-dark"
                            style="background-color: #BFA7F1; height: 300px; box-shadow: 0px 2px 0px black;">
                            <p class="card-title ms-2 mt-4 fw-bolder px-3">MES RÉSULTATS <br>D'ADMISSION</p>
                            <p class="card-text ms-4 fw-medium">RÉSULTAT DE VOTRE DERNIER <br>EXAMEN</p>
                            <!--LE GRAPHIQUE EN %-->
                            <div class="row">
                                <div class="col-6">
                                    <!--LE GRAPHIQUE EN % ICI-->
                                </div>
                                <!--LE GRAPHIQUE SUR 40-->
                                <div class="col-6">
                                    <!--LE GRAPHIQUE SUR 40 ICI-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--COLONNE SEANCE ENTRAINEMENT-->
                    <div class="col-md-6">
                        <a href="dashboardadmin.html" class="text-decoration-none">
                            <div class="card rounded-4 border-4 border-dark zoom"
                                style="background-image: url('image/onsentraine.png'); background-size: cover; background-position: center; height: 300px; border: 2px solid;">
                                <div class="d-flex align-items-center justify-content-between mt-2 px-3">
                                    <p class="card-title fw-bolder mb-0">RÉVISONS ENSEMBLE</p>
                                    <img src="icone/iconepouronsentraine.png" style="height: 54px; width: 49px;">
                                </div>
                                <p class="card-text ms-3 fw-medium">PRÉPAREZ-VOUS AU CODE<br> DE LA ROUTE SANS STRESSE !
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <!--COLONNE FELICITATION MESSAGE REUSSIS OU NON !!!-->
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="card rounded-4 border-4 border-dark"
                            style=" height: 119px; background-color: #36CA62; box-shadow: 0px 4px 0px black;">
                            <div class="d-flex align-items-center">
                                <p class="card-text fw-semibold mt-4 ms-3">FÉLICITATION ! ON SE RAPPROCHE DU PERMIS !
                                    VOUS VENEZ
                                    D'ATTEINDRE LES 80% SAZ'DRIVE VOUS DONNERA UN FORMATEUR DANS TRÈS PEU DE TEMPS !</p>
                                <img src="icone/confétit.png" style="height: 80px;" class="mt-3">
                            </div>
                        </div>
                    </div>
                </div>

                <!--SECTION GRAPHIQUE CHART JS-->

            </div>

            <!--PARTIE MON HISTORIQUE-->
            <div class="col-md-5 rounded-4"
                style="height: 1030px; background-color: #FFD24F; border: 4px solid; box-shadow: 3px 3px 0px black;">
                <div class="mt-3 d-flex align-items-center ">
                    <h6 class="fw-bolder mt-3 px-3">MON HISTORIQUE</h6>
                    <img src="icone/Historique.png" alt="" style="height: 20px;" class="ms-auto mx-4">
                </div>
                <!--TABLEAU-->
                <main class="table" id="customers_table">
                    <section class="table__body">
                        <table>
                            <tbody>
                                <tr>
                                    <!--DATE HEURE-->
                                    <td class="fw-semibold">Lun, 10 Mars <br><br>8:35</td>
                                    <!--NOM EXAM + NOTE-->
                                    <td class="text-end px-4 fw-semibold">EXAMEN BLANC CODE DE LA ROUTE<br><br> 35/40
                                    </td>
                                </tr>
                                <tr>
                                    <!--DATE HEURE-->
                                    <td class="fw-semibold">Lun, 10 Mars <br><br>8:35</td>
                                    <!--NOM EXAM + NOTE-->
                                    <td class="text-end px-4 fw-semibold">EXAMEN BLANC CODE DE LA ROUTE<br><br> 35/40
                                    </td>
                                </tr>
                                <tr>
                                <tr>
                                    <!--DATE HEURE-->
                                    <td class="fw-semibold">Lun, 10 Mars <br><br>8:35</td>
                                    <!--NOM EXAM + NOTE-->
                                    <td class="text-end px-4 fw-semibold">EXAMEN BLANC CODE DE LA ROUTE<br><br> 35/40
                                    </td>
                                </tr>
                                <tr>
                                    <!--DATE HEURE-->
                                    <td class="fw-semibold">Lun, 10 Mars <br><br>8:35</td>
                                    <!--NOM EXAM + NOTE-->
                                    <td class="text-end px-4 fw-semibold">EXAMEN BLANC CODE DE LA ROUTE<br><br> 35/40
                                    </td>
                                </tr>
                                <tr>
                                    <!--DATE HEURE-->
                                    <td class="fw-semibold">Lun, 10 Mars <br><br>8:35</td>
                                    <!--NOM EXAM + NOTE-->
                                    <td class="text-end px-4 fw-semibold">EXAMEN BLANC CODE DE LA ROUTE<br><br> 35/40
                                    </td>
                                </tr>
                                <tr>
                                    <!--DATE HEURE-->
                                    <td class="fw-semibold">Lun, 10 Mars <br><br>8:35</td>
                                    <!--NOM EXAM + NOTE-->
                                    <td class="text-end px-4 fw-semibold">EXAMEN BLANC CODE DE LA ROUTE<br><br> 35/40
                                    </td>
                                </tr>
                                <tr>
                                <tr>
                                    <!--DATE HEURE-->
                                    <td class="fw-semibold">Lun, 10 Mars <br><br>8:35</td>
                                    <!--NOM EXAM + NOTE-->
                                    <td class="text-end px-4 fw-semibold">EXAMEN BLANC CODE DE LA ROUTE<br><br> 35/40
                                    </td>
                                </tr>
                                <tr>
                                    <!--DATE HEURE-->
                                    <td class="fw-semibold">Lun, 10 Mars <br><br>8:35</td>
                                    <!--NOM EXAM + NOTE-->
                                    <td class="text-end px-4 fw-semibold">EXAMEN BLANC CODE DE LA ROUTE<br><br> 35/40
                                    </td>
                                </tr>
                                <tr>
                                    <!--DATE HEURE-->
                                    <td class="fw-semibold">Lun, 10 Mars <br><br>8:35</td>
                                    <!--NOM EXAM + NOTE-->
                                    <td class="text-end px-4 fw-semibold">EXAMEN BLANC CODE DE LA ROUTE<br><br> 35/40
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </main>
            </div>
            <div class="row mt-3">
                <section style="background-color: #BFA7F1; border: 4px solid; margin-top: -590px; max-height: 575px;"
                    class="col-md-7 rounded-4">
                    <div class="row mt-3">
                        <h5 class="fw-bold mt-3 mx-3">STATISTIQUES</h5>
                        <p class="fw-medium mx-3" style="color: #656273; font-size: 14px;">
                            VISUALISEZ L'ENSEMBLE DE VOS ENTRAINEMENTS SOUS FORME DE STATISTIQUES, <br>
                            OBSERVEZ VOTRE PROGRESSION DANS LA MEILLEURE DES MANIÈRES
                        </p>
                    </div>
                    <div>
                        <canvas id="myChart" class="" style="max-height: 420px;"></canvas>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>