<h2 class="col-10 fw-bolder mx-5 mt-5 mb-5 commentaire">LES COMMENTAIRES LAISSÉS PAR LES ÉLÈVES SUR LA PLATEFORME DE SAZ’DRIVE SONT PRIS TRÈS AU SÉRIEUX POUR AMÉLIORER LES PRESTATIONS FOURNIES PAR SAZ’DRIVE</h2>
<div class="container-fluid px-5 mt-4"> 
<div class="row mt-3">
  <div class="col-md-6 col-sm-12">
    <img src="image/imageavis.png" class="img-fluid">
</div>


<div class="col-md-6 feedback-form">
    <h1>LAISSER UN AVIS</h1>
    <p>(UN ÉLÈVE PEUT LAISSER PLUSIEURS AVIS)</p>
    
    <div class="form-group">
      <label for="nom">NOM</label>
      <input type="text" id="nom" placeholder="EX : BAL" />
    </div>
    
    <div class="form-group">
      <label for="prenom">PRÉNOM</label>
      <input type="text" id="prenom" placeholder="EX : ZEINABOU" />
    </div>
    
    <div class="form-group">
      <label for="avis">VOTRE AVIS</label>
      <textarea id="avis" placeholder="VEUILLEZ ÉCRIRE VOTRE AVIS..."></textarea>
    </div>
    
    <button type="submit">ENVOYER</button>
</div>

</div>
</div>
  <section class="container-fluid px-5 mt-5 mb-5">
      <div class="row mt-4">
      <div class="col-md-3 mt-2">
        <div class="card border-3 border-dark rounded-4">
          <div class="card-body ">
            <div class="d-flex align-items-center ">
              <img src="image/“.png" class="ms-3">
              <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
            </div>
            <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
            <div class="d-flex align-items-center">
              <img src="image/pdphomme.png"  style="height: 65px;"> 
              <p class="fw-semibold" style="font-size: 14px;">
                  ARNAUD MONTOYA
                  <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
              </p>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="card border-3 border-dark rounded-4">
          <div class="card-body ">
            <div class="d-flex align-items-center ">
              <img src="image/“.png" class="ms-3">
              <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
            </div>
            <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
            <div class="d-flex align-items-center">
              <img src="image/pdphomme.png"  style="height: 65px;">
              <p class="fw-semibold" style="font-size: 14px;">
                  ARNAUD MONTOYA
                  <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
              </p>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="card border-3 border-dark rounded-4">
          <div class="card-body ">
            <div class="d-flex align-items-center ">
              <img src="image/“.png" class="ms-3">
              <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
            </div>
            <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
            <div class="d-flex align-items-center">
              <img src="image/pdphomme.png"  style="height: 65px;">
              <p class="fw-semibold" style="font-size: 14px;">
                  ARNAUD MONTOYA
                  <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
              </p>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="card border-3 border-dark rounded-4">
          <div class="card-body ">
            <div class="d-flex align-items-center ">
              <img src="image/“.png" class="ms-3">
              <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
            </div>
            <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
             <div class="d-flex align-items-center">
              <img src="image/pdphomme.png"  style="height: 65px;">
              <p class="fw-semibold" style="font-size: 14px;">
                  ARNAUD MONTOYA
                  <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
              </p>
          </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3 mt-2">
      <div class="card border-3 border-dark rounded-4">
        <div class="card-body ">
          <div class="d-flex align-items-center ">
            <img src="image/“.png" class="ms-3">
            <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
          </div>
          <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
          <div class="d-flex align-items-center">
            <img src="image/pdphomme.png"  style="height: 65px;"> 
            <p class="fw-semibold" style="font-size: 14px;">
                ARNAUD MONTOYA
                <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
            </p>
        </div>
        </div>       
      </div>
    </div>
    <div class="col-md-3 mt-2">
      <div class="card border-3 border-dark rounded-4">
        <div class="card-body ">
          <div class="d-flex align-items-center ">
            <img src="image/“.png" class="ms-3">
            <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
          </div>
          <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
          <div class="d-flex align-items-center">
            <img src="image/pdphomme.png"  style="height: 65px;"> 
            <p class="fw-semibold" style="font-size: 14px;">
                ARNAUD MONTOYA
                <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
            </p>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-2">
      <div class="card border-3 border-dark rounded-4">
        <div class="card-body ">
          <div class="d-flex align-items-center ">
            <img src="image/“.png" class="ms-3">
            <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
          </div>
          <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
          <div class="d-flex align-items-center">
            <img src="image/pdphomme.png"  style="height: 65px;">
            <p class="fw-semibold" style="font-size: 14px;">
                ARNAUD MONTOYA
                <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
            </p>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-2">
      <div class="card border-3 border-dark rounded-4">
        <div class="card-body ">
          <div class="d-flex align-items-center ">
            <img src="image/“.png" class="ms-3">
            <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
          </div>
          <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
          <div class="d-flex align-items-center">
            <img src="image/pdphomme.png"  style="height: 65px;"> 
            <p class="fw-semibold" style="font-size: 14px;">
                ARNAUD MONTOYA
                <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
            </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
