
    <!--Première section de la page d'accueil-->
    <div class="container-fluid mx-5 mt-5">
      <div class="row mt-5">
      <div class="col-md-7">
        <h1 class="mt-5 fw-bolder" style="font-size: 56px;">ON NE TE PROMET PAS UNE FERRARI, MAIS AU MOINS TU SAURAS <br> LA GARER ! </h1>
        <p class="mt-3 fw-medium text-secondary">AVEC SAZ'DRIVE, RÉVISE TON CODE GRATUITEMENT ET APPRENDS <br>À CONDUIRE SANS STRESS.</p>
        <button type="button" class="btn btn-light p-3 px-5 mt-2 rounded-4 border-3 border-dark fw-bolder" routerLink="app-connexion"  >JE ME CONNECTE</button>
      </div>
      <div class="col-md-4">
        <img src="image/lamineyamal.png" class="img-fluid">
      </div>
    </div>
      </div>
      <!-- le conteneur fenêtre -->
      <div class="mt-5 marquee-rtl">

        <!-- le contenu défilant -->
        <div>95% D'ÉLÈVES SATISFAITS &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;">&nbsp;&nbsp; + DE 3 MILLIONS D'ÉLÈVES &nbsp;&nbsp; <img src="icone/star.png" style="height: 20px;">  &nbsp;&nbsp; PAIEMENT EN PLUSIEURS FOIS  &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;"> &nbsp;&nbsp;DATE D'EXAMENS RAPIDE &nbsp;&nbsp;
          95% D'ÉLÈVES SATISFAITS &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;">&nbsp;&nbsp; + DE 3 MILLIONS D'ÉLÈVES &nbsp;&nbsp; <img src="icone/star.png" style="height: 20px;">  &nbsp;&nbsp; PAIEMENT EN PLUSIEURS FOIS  &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;"> &nbsp;&nbsp;DATE D'EXAMENS RAPIDE &nbsp;&nbsp;
          95% D'ÉLÈVES SATISFAITS &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;">&nbsp;&nbsp; + DE 3 MILLIONS D'ÉLÈVES &nbsp;&nbsp; <img src="icone/star.png" style="height: 20px;">  &nbsp;&nbsp; PAIEMENT EN PLUSIEURS FOIS  &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;"> &nbsp;&nbsp;DATE D'EXAMENS RAPIDE &nbsp;&nbsp;
          95% D'ÉLÈVES SATISFAITS &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;">&nbsp;&nbsp; + DE 3 MILLIONS D'ÉLÈVES &nbsp;&nbsp; <img src="icone/star.png" style="height: 20px;">  &nbsp;&nbsp; PAIEMENT EN PLUSIEURS FOIS  &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;"> &nbsp;&nbsp;DATE D'EXAMENS RAPIDE &nbsp;&nbsp;
          95% D'ÉLÈVES SATISFAITS &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;">&nbsp;&nbsp; + DE 3 MILLIONS D'ÉLÈVES &nbsp;&nbsp; <img src="icone/star.png" style="height: 20px;">  &nbsp;&nbsp; PAIEMENT EN PLUSIEURS FOIS  &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;"> &nbsp;&nbsp;DATE D'EXAMENS RAPIDE &nbsp;&nbsp;
          95% D'ÉLÈVES SATISFAITS &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;">&nbsp;&nbsp; + DE 3 MILLIONS D'ÉLÈVES &nbsp;&nbsp; <img src="icone/star.png" style="height: 20px;">  &nbsp;&nbsp; PAIEMENT EN PLUSIEURS FOIS  &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;"> &nbsp;&nbsp;DATE D'EXAMENS RAPIDE &nbsp;&nbsp;
          95% D'ÉLÈVES SATISFAITS &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;">&nbsp;&nbsp; + DE 3 MILLIONS D'ÉLÈVES &nbsp;&nbsp; <img src="icone/star.png" style="height: 20px;">  &nbsp;&nbsp; PAIEMENT EN PLUSIEURS FOIS  &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;"> &nbsp;&nbsp;DATE D'EXAMENS RAPIDE &nbsp;&nbsp;
          95% D'ÉLÈVES SATISFAITS &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;">&nbsp;&nbsp; + DE 3 MILLIONS D'ÉLÈVES &nbsp;&nbsp; <img src="icone/star.png" style="height: 20px;">  &nbsp;&nbsp; PAIEMENT EN PLUSIEURS FOIS  &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;"> &nbsp;&nbsp;DATE D'EXAMENS RAPIDE &nbsp;&nbsp;
          95% D'ÉLÈVES SATISFAITS &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;">&nbsp;&nbsp; + DE 3 MILLIONS D'ÉLÈVES &nbsp;&nbsp; <img src="icone/star.png" style="height: 20px;">  &nbsp;&nbsp; PAIEMENT EN PLUSIEURS FOIS  &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;"> &nbsp;&nbsp;DATE D'EXAMENS RAPIDE &nbsp;&nbsp;
          95% D'ÉLÈVES SATISFAITS &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;">&nbsp;&nbsp; + DE 3 MILLIONS D'ÉLÈVES &nbsp;&nbsp; <img src="icone/star.png" style="height: 20px;">  &nbsp;&nbsp; PAIEMENT EN PLUSIEURS FOIS  &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;"> &nbsp;&nbsp;DATE D'EXAMENS RAPIDE &nbsp;&nbsp;
          95% D'ÉLÈVES SATISFAITS &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;">&nbsp;&nbsp; + DE 3 MILLIONS D'ÉLÈVES &nbsp;&nbsp; <img src="icone/star.png" style="height: 20px;">  &nbsp;&nbsp; PAIEMENT EN PLUSIEURS FOIS  &nbsp;&nbsp;<img src="icone/star.png" style="height: 20px;"> &nbsp;&nbsp;DATE D'EXAMENS RAPIDE &nbsp;&nbsp;
        </div>
      </div>
      <section id="lepremiertexte" style="margin-top: 90px;">
        <div style="display: flex; align-items: center; justify-content: center; text-align: center; flex-wrap: wrap;">
        
          <h2 class="text-center mt-5 fw-bolder" style="margin: 0px;">
            OBTENEZ VOTRE EXAMEN HAUT LA MAIN GRÂCE À DES COURS <br>
            CLAIRS, DES QUIZ INTERACTIF ET UN SUIVI PERSONNALISÉ !
          </h2>
          <img src="icone/trait.png" alt="Icone après" class="d-none d-md-inline" style="height: 75px; width: 75px; position: relative; top: -25px;">
  
        </div>
      </section>
      <!--Partie card-->
      <section class="container-fluid px-5">
        <div class="row mt-4">
          <!-- Colonne 1 -->
          <div class="col-md-3 col-lg-3 mt-4">
            <div class="card border-3 border-dark" style="border-radius: 15px;">
              <div class="card-body p-4">
                <h5 class="card-title mx-3 mt-3 fw-semibold">Stages intensifs</h5>
                <p class="card-text mx-3 mt-3 mb-4 fw-medium">   Obtenez votre permis rapidement grâce à des formations accélérées et un suivi sur mesure. Idéal pour ceux qui veulent aller à l'essentiel !</p>
              </div>
            </div>
          </div>
          
          <!-- Colonne 2 -->
          <div class="col-md-9 col-lg-9 mt-4">
            <div class="card border-3 border-dark" style="border-radius: 15px; background-color: rgba(191, 157, 241); box-shadow: 0px 4px 0px black;">
                <div class="card-body p-4">
                  <h5 class="card-title mx-3 mt-3 fw-semibold">Leçon de conduite personnalisées</h5>
                  <p class="card-text mx-3 mt-3 fw-medium">Chez SAZ'DRIVE, nous proposons des leçons de conduite adaptées à votre rythme et à vos objectifs. Que tu sois débutant ou que tu souhaites te perfectionner, nos moniteurs diplômés vous accompagnent avec bienveillance.</p>
                  <p class="card-text mx-3 mt-3 fw-medium">Nous utilisons des véhicules modernes et sécurisés pour une expérience d'apprentissage optimale ! Avec nous, tu deviendras un conducteur sûr et responsable, prêt(e) à affronter toutes les situations.</p>
                </div>
              </div>
            </div>
        </div>
        <div class="row mt-4">
          <!-- Colonne 3 -->
          <div class="col-md-9 col-lg-9 mt-4">
            <div class="card border-3 border-dark" style="border-radius: 15px; background-color: #FFD24F; box-shadow: -8px 8px 0px black;">
              <div class="card-body p-4">
                <h5 class="card-title mx-3 mt-3 fw-semibold">Préparation au code de la route</h5>
                <p class="card-text mx-3 mt-3 mb-3 fw-medium">Maîtrisez le code de la route grâce à des cours clairs, des quiz interactifs et des examens blancs. Notre plateforme en ligne vous permet de réviser où et quand vous voulez. Avec nous, le code devient simple et accessible. Nous vous accompagnons pour une préparation efficace et flexible, adaptée à votre rythme.
                </p>
  
              </div>
            </div>
          </div>
          
          <!-- Colonne 4 -->
          <div class="col-md-3 col-lg-3 mt-4">
            <div class="card border-3 border-dark" style="border-radius: 15px; background-color: #FFFFFF" >
                <div class="card-body p-4">
                  <h5 class="card-title mx-3 mt-3 fw-semibold">Accompagnement aux examens</h5>
                  <p class="card-text mx-3 mt-3 mb-3 fw-medium">Nous sommes à vos côtés pour le code et la conduite. Stress en moins, réussite en plus !</p>
                </div>
              </div>
            </div>
        </div>   
      </section>
      <!--Partie Tarif-->
      <h3 class="text-center mt-5 fw-bolder">
       DÉCOUVEZ NOS PACKS PERMIS
      </h3>
      <h5 class="text-center mt-2 fw-semibold">
        OBTENEZ LE PERMIS SANS DÉPENSER LE PLUS POSSIBLE
       </h5>
       <section class="container-fluid px-5">
        <div class="row mt-5">
          <!-- Première carte -->
          <div class="col-md-4">
            <div class="card rounded-4 border-3 border-dark">
            <div class="card rounded-4 border-0 " style="box-shadow: -8px 8px 0px black;">
              
              <div class="card-body text-center">
                <h4 class="card-title mt-2 fw-bolder">PACK INTENSIF</h4>
                <p class="card-text fw-semibold">PERMIS RAPIDE ET EFFICACE</p>
              </div>
              <ul class="list-group list-group-flush mx-3">
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>Stage de code accéléré sur 1 semaine</li>
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>20 heures de conduites en 10 jours</li>
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>Accès illimité à la plateforme code en ligne</li>
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>Accompagnement aux examens (code + conduite )</li>
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>1 simulation d'examen blanc offerte</li>
              </ul>
              <div class="mt-3">
                <hr class="mx-5" style="border: 2px solid #000000; opacity: 1; border-radius: 6px;">
              </div>
    
              <div class="card-body d-flex justify-content-between align-items-center px-5 mt-2">
                <h5 class="mb-1 fw-bold">PROMO</h5>
                <h5 class="mb-1 fw-bold"><span class="fw-medium" style="text-decoration: line-through; font-size: 14px;">1399€</span> 1190€</h5>
              </div>
  
              <div class="card-body">
                <button type="button" class="btn w-100 p-3 mx-auto rounded-5 border-3 border-dark fw-bolder" style="background-color: #D4C4F1;">INSCRIT-TOI</button>
              </div>
            </div>
          </div>
        </div>
          <!-- Deuxième carte -->
          <div class="col-md-4">
            <div class="card rounded-4 border-3 border-dark" style="min-height: 620px; position: relative; top: -15px; box-shadow: 0px 6px 0px black;">
              <div class="card rounded-4 border-0">
                <div class="position-relative" style="height: 100%;">
                  <img src="image/Star 7.png" style="height: 80px; width: 80px;" class="mt-3 position-absolute top-0 end-0 translate-middle">
                </div>
              <div class="card-body text-center">
                <h4 class="card-title mt-2 fw-bolder">PACK CONFORT</h4>
                <p class="card-text fw-semibold">LE PLUS POPULAIRE</p>
              </div>
              <ul class="list-group list-group-flush mx-3">
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>20 heures de conduite</li>
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>1h de conduite offerte</li>
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>2 acccompagnement à l'examen du code</li>
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>Accompagnement aux examens (code + conduite )</li>
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>Conduite supervisée offerte</li>
              </ul>
              <div class="mt-3">
                <hr class="mx-5" style="border: 2px solid #000000; opacity: 1; border-radius: 6px;">
              </div>
              <div class="card-body d-flex justify-content-between align-items-center px-5 mt-2">
                <h5 class="mb-1 fw-bold">PROMO</h5>
                <h5 class="mb-1 fw-bold"><span class="fw-medium" style="text-decoration: line-through; font-size: 14px;">1099€</span> 890€</h5>
              </div>
   
              <div class="card-body">
                <button type="button" class="btn w-100 p-3 mx-auto rounded-5 border-3 border-dark fw-bolder" style="background-color: #D4C4F1;">INSCRIT-TOI</button>
              </div>
            </div>
          </div>
        </div>
  
          <!-- Troisième carte -->
          <div class="col-md-4">
            <div class="card rounded-4 border-3 border-dark">
            <div class="card rounded-4 border-0 border-dark" style="box-shadow: 8px 8px 0px black;">
              <div class="card-body text-center">
                <h4 class="card-title mt-2 fw-bolder">PACK EXCELLENCE</h4>
                <p class="card-text fw-semibold">LA SOLUTION SANS STRESSE</p>
              </div>
              <ul class="list-group list-group-flush mx-3">
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>35 heures de conduite</li>
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>5 heures de conduite offertes</li>
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>Accès illimité à la plateforme code en ligne</li>
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>Accompagnement aux examens (code + conduite )</li>
                <li class="list-group-item fw-medium border-0 mt-3"><i class="bi bi-circle-fill me-4" style="color:#E5DCF1"></i>Conduite supervisée offerte</li>
              </ul>
              <div class="mt-3">
                <hr class="mx-5" style="border: 2px solid #000000; opacity: 1; border-radius: 6px;">
              </div>
       
              <div class="card-body d-flex justify-content-between align-items-center px-5 mt-2">
                <h5 class="mb-1 fw-bold">PROMO</h5>
                <h5 class="mb-1 fw-bold"><span class="fw-medium" style="text-decoration: line-through; font-size: 14px;">1499€</span> 1299€</h5>
              </div>
  
              <div class="card-body">
                <button type="button" class="btn w-100 p-3 mx-auto rounded-5 border-3 border-dark fw-bolder" style="background-color: #D4C4F1;">INSCRIT-TOI</button>
              </div>
            </div>
          </div>
        </div>
      </div>
       </section>
  
       <div class="container-fluid px-5 mt-5">
        <div class="row d-flex align-items-center">
          <div class="col-md-7">
            <h4 class="fw-bolder mt-3">
              VOTRE CHEMIN VERS LE CODE RÉUSSI
            </h4>
            <h6 class="fw-semibold mt-2">
              SAZ'DRIVE, VOTRE PARTENAIRE POUR RÉUSSIR LE CODE
            </h6>
      
            <!-- Les cartes -->
            <div class="card rounded-4 border-3 border-dark mt-4" 
                 style="background-color: #FFD24F; box-shadow: -4px 4px 0px black;">
              <div class="card-body">
                <h5 class="fw-bold ms-2 mt-2">SUIVI EN TEMPS RÉEL</h5>
                <p class="ms-2 mt-3 fw-medium">Visualisez votre évolution grâce à notre système innovant.</p>
              </div>
            </div>
      
            <div class="card rounded-4 border-3 border-dark mt-4" 
                 style="background-color: #C7B3F2; box-shadow: -4px 4px 0px black;">
              <div class="card-body">
                <h5 class="fw-bold ms-2 mt-2">QUIZ PERSONNALISÉS</h5>
                <p class="ms-2 mt-3 fw-medium">Améliorez vos résultats avec des quiz adaptés.</p>
              </div>
            </div>
      
            <div class="card rounded-4 border-3 border-dark mt-4" 
                 style="background-color: #84A4FC; box-shadow: -4px 4px 0px black;">
              <div class="card-body">
                <h5 class="fw-bold ms-2 mt-2">PRÉPARATION OPTIMALE</h5>
                <p class="ms-2 mt-3 fw-medium">Atteignez vos objectifs rapidement et efficacement.</p>
              </div>
            </div>
      
            <div class="card rounded-4 border-3 border-dark mt-4" 
                 style="background-color: #F3A0D5; box-shadow: -4px 4px 0px black;">
              <div class="card-body">
                <h5 class="fw-bold ms-2 mt-2">RÉUSSITE GARANTIE</h5>
                <p class="ms-2 mt-3 fw-medium">Préparez-vous sereinement pour réussir haut la main.</p>
              </div>
            </div>
          </div>
      
          <!-- Colonne de l'image -->
          <div class="col-md-5 text-center">
            <img src="image/12276719_4937314 1.png" class="rounded-4" style="max-width: 60%;">
          </div>
        </div>
      </div>
      
  
      <!--Avis-->
      <h3 class="text-center mt-5 fw-bolder">
        ILS NOUS ONT FAIT CONFIANCE
       </h3>
       <h5 class="text-center mt-2 fw-semibold">
         DÉCOUVEZ CE QUE NOS ÉLÈVES DISENT DE LEUR EXPÉRIENCE...
        </h5>
        
        <section class="container-fluid px-5">
          <div class="row mt-4">
          <div class="col-md-3">
            <div class="card border-3 border-dark rounded-4">
              <div class="card-body ">
                <div class="d-flex align-items-center ">
                  <img src="image/“.png" class="ms-3">
                  <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
                </div>
                <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
                <div class="d-flex align-items-center">
                  <img src="image/image 3 (2).png"  style="height: 65px;"> 
                  <p class="fw-semibold" style="font-size: 14px;">
                      ARNAUD MONTOYA
                      <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
                  </p>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card border-3 border-dark rounded-4">
              <div class="card-body ">
                <div class="d-flex align-items-center ">
                  <img src="image/“.png" class="ms-3">
                  <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
                </div>
                <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
                <div class="d-flex align-items-center">
                  <img src="image/image 3 (2).png"  style="height: 65px;">
                  <p class="fw-semibold" style="font-size: 14px;">
                      ARNAUD MONTOYA
                      <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
                  </p>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card border-3 border-dark rounded-4">
              <div class="card-body ">
                <div class="d-flex align-items-center ">
                  <img src="image/“.png" class="ms-3">
                  <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
                </div>
                <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
                <div class="d-flex align-items-center">
                  <img src="image/image 3 (2).png"  style="height: 65px;">
                  <p class="fw-semibold" style="font-size: 14px;">
                      ARNAUD MONTOYA
                      <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
                  </p>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card border-3 border-dark rounded-4">
              <div class="card-body ">
                <div class="d-flex align-items-center ">
                  <img src="image/“.png" class="ms-3">
                  <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
                </div>
                <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
                 <div class="d-flex align-items-center">
                  <img src="image/image 3 (2).png"  style="height: 65px;">
                  <p class="fw-semibold" style="font-size: 14px;">
                      ARNAUD MONTOYA
                      <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
                  </p>
              </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3">
          <div class="card border-3 border-dark rounded-4">
            <div class="card-body ">
              <div class="d-flex align-items-center ">
                <img src="image/“.png" class="ms-3">
                <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
              </div>
              <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
              <div class="d-flex align-items-center">
                <img src="image/image 3 (2).png"  style="height: 65px;"> 
                <p class="fw-semibold" style="font-size: 14px;">
                    ARNAUD MONTOYA
                    <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
                </p>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card border-3 border-dark rounded-4">
            <div class="card-body ">
              <div class="d-flex align-items-center ">
                <img src="image/“.png" class="ms-3">
                <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
              </div>
              <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
              <div class="d-flex align-items-center">
                <img src="image/image 3 (2).png"  style="height: 65px;"> 
                <p class="fw-semibold" style="font-size: 14px;">
                    ARNAUD MONTOYA
                    <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
                </p>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card border-3 border-dark rounded-4">
            <div class="card-body ">
              <div class="d-flex align-items-center ">
                <img src="image/“.png" class="ms-3">
                <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
              </div>
              <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
              <div class="d-flex align-items-center">
                <img src="image/image 3 (2).png"  style="height: 65px;">
                <p class="fw-semibold" style="font-size: 14px;">
                    ARNAUD MONTOYA
                    <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
                </p>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card border-3 border-dark rounded-4">
            <div class="card-body ">
              <div class="d-flex align-items-center ">
                <img src="image/“.png" class="ms-3">
                <h5 class="card-title mt-3 ms-1 fw-bold">SUPER PRÉPARATION POUR LE CODE !</h5>
              </div>
              <p class="card-text mt-2 mx-3 fw-medium">Les cours sont de qualité, mais j'aurais préféré plus d'interactivité dans les leçons. Malgré tout, la plateforme de révision est très bien conçue, et je me suis senti bien préparé pour l'examen. Bon service global.</p>
              <div class="d-flex align-items-center">
                <img src="image/image 3 (2).png"  style="height: 65px;"> 
                <p class="fw-semibold" style="font-size: 14px;">
                    ARNAUD MONTOYA
                    <span class="fw-medium"><br>ÉLÈVE DE L'AUTO-ÉCOLE CER</span>
                </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
  
  <!--Formulaire-->
  <div class="container-fluid px-5 mt-5">
    <h4 class="mt-3 fw-semibold fs-2">Contactez-nous</h4>
    <p>Une question ? N'hesitez pas à nous contactez pour tout reseignement</p>
    <div class="row">
        <div class="col-8">
            <div class="row mt-2">
                <div class="col-6">
                    <input type="email" class="form-control rounded-4 p-3 fw-semibold border-2 border-dark" id="Email" aria-describedby="emailHelp" placeholder=" Email">
                </div>
                <div class="col-6">
                    <input type="phone" class="form-control rounded-4 p-3 fw-semibold border-2 border-dark" id="Phone" aria-describedby="phoneHelp" placeholder=" Numéro de Téléphone">
                </div>
            </div>
  
            <div class="row mt-2">
                <div class="col-12">
                <input type="name" class="form-control rounded-4 p-3 fw-semibold border-2 border-dark" id="Prénom" aria-describedby="nameHelp" placeholder=" Nom">
                </div>
            </div>
  
            <div class="row mt-2">
                <div class="col-12">
                <textarea class="form-control rounded-4 p-3 fw-semibold border-2 border-dark" id="Textarea" placeholder=" Message"></textarea>
                </div>
            </div>
  
            <div class="row mt-2">
                <div class="col-12">
                    <button type="submit" class="btn rounded-4 text-light px-5 p-3" style="background-color: #000000;">Confirmer</button>
                </div>
            </div>
        </div>
  
        <div class="col-4 mb-5">
            <div class="card p-4 rounded-4 border-2 border-dark" style="background-color: #C7B3F2;">
            <h5 class="card-title fw-semibold">Notre Newsletter</h5>
            <p class="card-text fw-light py-2 fw-medium">Rejoignez notre communauté et ne manquez aucune nouveauté !</p>
            <input type="email" class="form-control rounded-4 p-2 fw-semibold border-2 border-dark" style="background-color: #ffffff;" id="Email" aria-describedby="emailHelp" placeholder=" Email">
            <button type="submit" class="btn rounded-4 text-light p-2 mt-3" style="background-color: #000000;">Confirmer</button>
        </div>
        </div>
    </div>
  
  </div>