<!-- PARTIE MENU -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-3 col-xl-2" style="background-color: #D4C4F1;">
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav flex-column mx-1">
            <a class="navbar-brand" href="#">
              <img src="image/SAZ'DRIVE.png" style="height: 120px;" routerLink="/app-accueil" routerLinkActive="active">
            </a>

            <div class="d-block d-sm-none">
              <a class="nav-link fw-semibold" href="" style="text-decoration: none; color: #000000;">CODE DE LA
                ROUTE</a>
              <a class="nav-link fw-semibold" href="" style="text-decoration: none; color: #000000;">PERMIS DE
                CONNDUIRE</a>
              <a class="nav-link fw-semibold" href="" style="text-decoration: none; color: #000000;">RÉSULTATS</a>
              <a class="nav-link fw-semibold" href="" style="text-decoration: none; color: #000000;">À PROPOS</a>
              <hr style="border: 2px solid #B6BFB0; opacity: 1; border-radius: 10px;">
            </div>

            <div class="d-none d-sm-block d-lg-none">
              <a class="nav-link fw-semibold" href="" style="text-decoration: none; color: #000000;">CODE DE LA
                ROUTE</a>
              <a class="nav-link fw-semibold" href="" style="text-decoration: none; color: #000000;">PERMIS DE
                CONNDUIRE</a>
              <a class="nav-link fw-semibold" href="" style="text-decoration: none; color: #000000;">RÉSULTATS</a>
              <a class="nav-link fw-semibold" href="" style="text-decoration: none; color: #000000;">À PROPOS</a>
              <hr style="border: 2px solid #B6BFB0; opacity: 1; border-radius: 10px;">
            </div>

            <div class="d-flex align-items-center">
              <img class="rounded" src="assets/icone/iconelogout.png" alt="Logout" style="height: 20px; width: 20px;">
              <a class="mx-1 fw-semibold" style="text-decoration: none; color: #000000;" href="javascript:void(0);"
                (click)="logout()">DÉCONNEXION</a>
            </div>

            <hr style="border: 1px solid #050505; opacity: 1; border-radius: 10px;">
            <div class="d-flex align-items-center mt-3">
              <img class="rounded" src="icone/iconmenu.png" alt="" style="height: 20px; width: 20px;">
              <a class="mx-1 fw-semibold" style="text-decoration: none; color: #000000;" href="">MENU PRINCIPAL</a>
            </div>
            <hr style="border: 1px solid #050505; opacity: 1; border-radius: 10px;">
            <div class="d-flex align-items-center">
              <img class="rounded" src="icone/iconedossier.png" alt="" style="height: 20px; width: 20px;">
              <a class="mx-1 fw-semibold" style="text-decoration: none; color: #000000;">GESTION DES ÉLÈVES</a>
            </div>
            <a class="nav-link mt-2 fw-medium menuvertical" href="" style="text-decoration: none; color: #000000;"
              routerLink="/app-admin" routerLinkActive="active">LISTES DES ÉLÈVES</a>
            <a class="nav-link fw-medium menuvertical" routerLink="/app-inscription"
              routerLinkActive="active text-decoration: none; color: #000000;">AJOUTER UN
              ÉLÈVE</a>
            <a class="nav-link fw-medium menuvertical" routerLink="/app-avis" routerLinkActive="active"
              style="text-decoration: none; color: #000000;">GESTION DES AVIS</a>
            <!--MENU SANS LIENS POUR-->
            <a class="nav-link mt-2 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-2 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-5 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-5 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-5 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-5 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-5 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-5 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-5 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-5 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-5 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-5 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-5 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-5 menuvertical" style="text-decoration: none; color: #000000;"></a>
            <a class="nav-link mt-5 menuvertical" style="text-decoration: none; color: #000000;"></a>

          </ul>
        </div>
      </nav>
    </div>

    <div class="col-12 col-sm-9 col-xl-10 ajouter">
      <div class="row w-100">

        <div class="col-md-6">
          <div class="text-container">
            <h3 class="fw-bolder">AJOUTER UN ÉLÈVE</h3>
            <p class="fw-medium text-secondary">
              AJOUTER UN NOUVEL ÉLÈVE À BORD DE LA SAZ TEAM POUR GARANTIR L'OBTENTION DU CODE DE LA ROUTE À COUP
              SÛR !
            </p>
          </div>

          <div class="image-container">
            <img src="image/homme.png" alt="Vue de route de voiture" class="img-fluid">
          </div>
        </div>

       


        <!-- le formulaire -->
        <div class="col-md-6">
          <div class="form-container">
            <form formGroup="inscriptionForm" (ngSubmit)="onSubmit($event)">
              <!-- Nom et Prénom -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="nom" class="form-label">Nom</label>
                  <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Nom">
                </div>
                <div class="col-md-6">
                  <label for="prenom" class="form-label">Prénom</label>
                  <input type="text" class="form-control" id="prenom" formControlName="prenom" placeholder="Prénom">
                </div>
              </div>

              <!-- Date de naissance -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label">Date de naissance</label>
                  <div class="d-flex">
                    <select class="form-select me-1" formControlName="jour">
                      <option value="">Jour</option>
                      <option *ngFor="let day of days" [value]="day">{{ day }}</option>
                    </select>
                    <select class="form-select me-1" formControlName="mois">
                      <option value="">Mois</option>
                      <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
                    </select>
                    <select class="form-select" formControlName="annee">
                      <option value="">Année</option>
                      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                    </select>
                  </div>
                </div>

                <!-- Téléphone -->
                <div class="col-md-6">
                  <label for="telephone" class="form-label">Téléphone</label>
                  <input type="tel" class="form-control" id="telephone" formControlName="telephone"
                    placeholder="Ex : 06 52 89 83 77">
                </div>
              </div>

              <!-- Ville et Code NEPH -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="ville" class="form-label">Ville</label>
                  <input type="text" class="form-control" id="ville" formControlName="ville" placeholder="Ex : PARIS">
                </div>

                <div class="col-md-6">
                  <label for="codeNeph" class="form-label">Code NEPH</label>
                  <input type="text" class="form-control" id="codeNeph" formControlName="code_neph"
                    placeholder="Ex : 123456789">
                </div>
              </div>

              <!-- Email -->
              <div class="row mb-3">
                <div class="col-12">
                  <label for="email" class="form-label">Adresse email</label>
                  <input type="email" class="form-control" id="email" formControlName="email"
                    placeholder="email@exemple.com">
                </div>
              </div>

              <!-- Mot de passe -->
              <div class="row mb-4">
                <div class="col-12">
                  <label for="mot_de_passe" class="form-label">Mot de passe</label>
                  <input type="password" class="form-control" id="mot_de_passe" formControlName="mot_de_passe"
                    placeholder="Mot de passe">
                </div>
              </div>

              <!-- Bouton -->
              <div class="row">
                <div class="col-12 text-center">
                  <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
                <!-- Message de succès juste en dessous -->
                <div *ngIf="message" class="col-12 text-center mt-3 alert alert-success">
                  {{ message }}
                </div>
              </div>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>