.image-container {
    max-width: 100%;
    height: auto; 
    margin-bottom: 0;
}


.form-container {
    padding-left: 30px; 
    margin-top: 50px;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
       
}

.ajouter{
    padding: 60px;
}
.form-control {
    border: 2px solid black; 
    border-radius: 5px; 
}


.form-label {
    font-weight: bold; 
}

.btn-submit {
    
    color: #000;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-submit:hover {
    
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-submit:disabled {
    background-color: #6bc170;
    color: #000000;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

.btn-submit-container {
    margin-top: 20px;
}

.alert-container {
    animation: fadeInDown 0.5s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}