.image-container {
    max-width: 100%;
    height: auto; 
    margin-bottom: 0;
}


.form-container {
    padding-left: 30px; 
    margin-top: 50px;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
       
}

.ajouter{
    padding: 60px;
}
.form-control {
    border: 2px solid black; 
    border-radius: 5px; 
}


.form-label {
    font-weight: bold; 
}


.btn-submit {
    background-color: #63E189;
    color: rgb(0, 0, 0); 
    border: 2px solid #000000;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold; 
    border-radius: 5px; 
    width: auto; 
    text-align: center; 
}

.btn-submit-container {
    text-align: left; 
    margin-top: 20px; 
}
